
<%= @game.current_turn.name %>'s turn
<% if @game.current_turn.name == @game.player_1.name %>
<%= @game.player_2.name %> attacks <%= @game.player_1.name %>.
<%= @game.player_1.name %>: <%= @game.player_1.hit_points%>HP
<% else %>
<%= @game.player_1.name %> attacks <%= @game.player_2.name %>.
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
<% end %>
<form action="/switch-turns" method="post">
   <input type="submit" value="OK">
 </form> 
